---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Cards from "../components/molecules/Cards.astro";
import CTA from "../components/molecules/CTA.astro";
import Paragraph from "../components/atoms/Paragraph.astro";
import video from "../assets/video/najspokojniejszy.mp4";
import playPoster from "../assets/images/najspokojniejszy-play.jpg";

const title = "Najspokojniejszy człowiek na świecie";
const description =
  "Najspokojniejszy człowiek na świecie ma adwokata na wszelki wypadek” to kampania, która przypomina o tym, jak ważne jest poczucie bezpieczeństwa w codziennym życiu.";
---

<Layout title={title} description={description}>
  <main>
    <h1 class="text-black hidden">
      Najspokojniejszy człowiek na świecie ma adwokata na wszelki wypadek
    </h1>

    <section class="relative">
      <video class="video w-full h-auto" loop playsinline>
        <source src={video} type="video/mp4" />
      </video>
      <div class="play absolute top-0 left-0 w-full cursor-pointer">
        <Image src={playPoster} alt="" />
      </div>
    </section>

    <article class="max-w-[1100px] mx-auto my-14 px-8 xl:my-32">
      <h2 class="mb-6 text-xl uppercase font-bold">O kampanii</h2>
      <div class="grid grid-cols-1 xl:grid-cols-2 gap-x-12 leading-snug">
        <div>
          <Paragraph>
            Kampania "Najspokojniejszy człowiek na świecie" trafia w&nbsp;sedno
            bolączek współczesnego człowieka. W dzisiejszym świecie, określanym
            akronimem VUCA (zmiennym, niepewnym, złożonym
            i&nbsp;niejednoznacznym), spokój staje się dobrem deficytowym, coraz
            bardziej pożądanym i&nbsp;coraz trudniej osiągalnym.
          </Paragraph>
          <Paragraph>
            Nasza rzeczywistość, kształtowana przez gwałtowne zmiany
            geopolityczne, ekonomiczne i&nbsp;klimatyczne, a&nbsp;także
            rewolucję technologiczną sprawia, że&nbsp;poczucie bezpieczeństwa
            jest coraz bardziej ulotne.
          </Paragraph>
        </div>
        <div>
          <Paragraph>
            Kampania odwołuje się do fundamentalnej potrzeby zapewnienia
            bezpieczeństwa sobie i&nbsp;bliskim. Pokazuje, że w świecie pełnym
            wyzwań i niepokojów, wsparcie adwokata może być źródłem spokoju
            i&nbsp;stabilności. Przekaz ten trafia do&nbsp;osób poszukujących
            ukojenia i&nbsp;pewności w&nbsp;nieprzewidywalnej rzeczywistości
            chcących świadomie podejmować ważne decyzje.
          </Paragraph>
          <Paragraph>
            Kampania promuje proaktywne podejście do&nbsp;korzystania
            z&nbsp;usług prawnych, przedstawiając adwokata nie&nbsp;jako
            ostateczność, ale&nbsp;jako stałego towarzysza w&nbsp;codziennym
            życiu, zapewniającego spokój ducha w&nbsp;obliczu wszelkich wyzwań.
          </Paragraph>
        </div>
      </div>
    </article>

    <section
      class="flex justify-center items-end h-[80vh] max-h-[640px] bg-lawyer bg-right-top bg-no-repeat bg-cover lg:justify-start xl:items-center"
    >
      <div
        class="flex flex-col max-w-[600px] px-[4%] mb-[30%] sm:mb-[10%] lg:w-[36%] lg:min-w-[524px] lg:ml-[25%] xl:mb-0"
      >
        <CTA />
        <p class="text-white leading-tight">
          Dzięki rejestrowi można w prosty sposób wyszukać adwokata według
          nazwiska, miejscowości, w której prowadzi kancelarię lub dziedziny
          prawa, którą się zajmuje
        </p>
      </div>
    </section>

    <section
      class="max-w-[1000px] mx-auto my-20 text-center leading-snug sm:px-10 lg:px-0 xl:my-32"
    >
      <h2 class="mb-6 text-xl uppercase font-bold">W czym możemy ci pomóc?</h2>
      <p class="mx-auto mb-16 text-sm max-w-[80%] xl:mb-20">
        Oferujemy wsparcie w sprawach cywilnych, karnych, gospodarczych i
        rodzinnych. Pomożemy Ci zrozumieć Twoje prawa i znaleźć najlepsze
        rozwiązanie prawne, byś mógł spać spokojnie.
      </p>
      <Cards />
    </section>
  </main>
</Layout>

<script>
  const videoElement: HTMLVideoElement | null =
    document.querySelector(".video");
  const playElement: HTMLDivElement | null = document.querySelector(".play");

  function toggleVideo() {
    if (videoElement && playElement) {
      if (videoElement.paused) {
        videoElement.play();
        playElement.style.display = "none";
      } else {
        videoElement.pause();
      }
    }
  }

  function showControls() {
    if (videoElement) {
      videoElement.controls = true;
    }
  }

  function hideControls() {
    if (videoElement) {
      videoElement.controls = false;
    }
  }

  playElement?.addEventListener("click", toggleVideo);
  playElement?.addEventListener("mouseover", showControls);
  videoElement?.addEventListener("mouseover", showControls);
  videoElement?.addEventListener("mouseout", hideControls);
</script>
