---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Najspokojniejszy człowiek na świecie.">
  <main>
    <h1 class="text-black">Welcome</h1>
    <ul role="list" class="grid grid-cols-4 gap-2">
      <Card
        href="*"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="*"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="*"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="*"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul>
  </main>
</Layout>
