---
import { Image } from "astro:assets";
import logo from "../../assets/images/adwokatura-polska-logo.svg";
---

<a class="w-full h-auto" href="/">
  <Image class="w-full h-auto" src={logo} alt="Adwokatura polska Logo" />
</a>
