---
import Logo from "../atoms/Logo.astro";
---

<footer
  class="w-full min-h-48 max-w-[1200px] mx-auto mt-40 px-4 flex justify-between items-center border-t border-gray xl:px-0"
>
  <address
    class="w-[55%] flex flex-col text-xs not-italic sm:text-sm xl:w-[40%] leading-snug xl:leading-normal"
  >
    <span>Naczelna Rada Adwokacka</span>
    <span>ul. Świętojerska 16, 00-202 Warszawa</span>
    <span>NIP 526-00-34-369</span>
  </address>

  <div
    class="w-[45%] flex justify-center items-end mr-auto self-end xl:w-[20%]"
  >
    <div class="w-56 max-w-[80%]">
      <Logo />
    </div>
  </div>
</footer>
