---
import Logo from "../atoms/Logo.astro";
---

<header class="w-full z-40 relative flex justify-center mb-20 lg:mb-0">
  <div class="w-[30%] lg:w-[12%] lg:absolute lg:top-0 lg:right-0 lg:mr-[5%]">
    <Logo />
  </div>
</header>
